{
    margin: 0;
    padding: 0;

}

/*este es el css del nav*/
.menu{
    background-color: aliceblue;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    align-items: center;

}

/*este es el fin del nav*/
a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    cursor: pointer;
}